body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.cardBox{
    perspective: 500px;
    margin: 15px;
}

.card{
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #fff;
    transform-style: preserve-3d;
    transition: .5s ease;
    box-shadow: 0 30px 30px rgba(0, 0,0,.5);

}
.youtube{
    background-color: #bb0000;
}

.reddit{
    background-color: #ff4500;
}

.twitter{
    background-color: #00aced;
}

.card-front, .card-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    color:#fff;
    backface-visibility: hidden;
    -moz-backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
     transform: rotateX(0deg) /* cause backface-visibility does not work on firfox ??  */
}

.card-front{
    font-size: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.card-back{
    font-size: 40px;
    align-items: center;
    justify-content: center;
    display: flex ;   
   transform: rotateY(180deg);
}

.cardBox:hover .card{
    transform: rotateY(180deg);
}
